.myuser__navbar {
  margin-top: 12px;
}
.myuser__content {
  background-color: white;

  width: 100%;
  box-shadow: 0 1px 3px 1px #ccc;
  margin-top: 12px;
}
.myuser__navbar-des-wrap {
  display: flex;
  align-items: center;
}
.myuser__navbar-des-img-wrap {
}
.myuser__navbar-des-img {
  height: 50px;
  width: 50px;
  border-radius: 100rem;
  border: 1px solid #ccc;
}
.myuser__navbar-des-name-wrap {
  font-size: 1.6rem;
  margin-left: 12px;
  line-height: 2.4rem;
}
.myuser__navbar-des-name {
  font-weight: 500;
}
.myuser__navbar-des-setting {
  font-size: 1.4rem;
  color: #555;
}
.myuser__navbar-des-setting-icon {
  margin-right: 4px;
}
.myuser__navbar-des-setting-title {
}
.myuser__content-wrap {
  padding: 18px 12px;
}
.myuser__content-label {
  font-size: 1.6rem;
}
