.myuser__navbar {
}
.myuser__content {
  background-color: white;
  height: 100px;
  width: 100%;
  box-shadow: 0 1px 3px 1px #ccc;
}
.myuser__navbar-des-wrap {
  display: flex;
  align-items: center;
}
.myuser__navbar-des-img-wrap {
}
.myuser__navbar-des-img {
  height: 50px;
  width: 50px;
  border-radius: 100rem;
  border: 1px solid #ccc;
}
.myuser__navbar-des-name-wrap {
  font-size: 1.6rem;
}
.myuser__navbar-des-name {
}
.myuser__navbar-des-setting {
}
.myuser__navbar-des-setting-icon {
}
.myuser__navbar-des-setting-title {
}
