.myuser__navbar {
  margin-top: 24px;
}
.myuser__content {
  background-color: white;
  width: 100%;
  box-shadow: 0 1px 3px 1px #ccc;
  padding: 24px 32px;
}
.myuser__navbar-des-wrap {
  display: flex;
  align-items: center;
}
.myuser__navbar-des-img-wrap {
}
.myuser__navbar-des-img {
  height: 50px;
  width: 50px;
  border-radius: 100rem;
  border: 1px solid #ccc;
}
.myuser__navbar-des-name-wrap {
  font-size: 1.6rem;
  margin-left: 12px;
  line-height: 2.4rem;
}
.myuser__navbar-des-name {
  font-weight: 500;
}
.myuser__navbar-des-setting {
  font-size: 1.4rem;
  color: #555;
}
.myuser__navbar-des-setting-icon {
  margin-right: 4px;
}
.myuser__navbar-des-setting-title {
}
.myuser__content-wrap {
}
.myuser__content-title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.4rem;
  margin-bottom: 12px;
}
.myuser__content-label {
  font-size: 1.6rem;
  font-weight: 500;
}
.myuser__content-wrap {
}
.myuser__content-name-wrap,
.myuser__content-fullname-wrap,
.myuser__content-email-wrap,
.myuser__content-phone-wrap,
.myuser__content-sex-wrap,
.myuser__content-date-wrap,
.myuser__content-address-wrap,
.myuser__content-address-des-wrap {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.myuser__content-label {
  min-width: 112px;
}
.myuser__content-name-input,
.myuser__content-fullname-input,
.myuser__content-email-input,
.myuser__content-phone-input,
.myuser__content-sex-input,
.myuser__content-date,
.myuser__content-address-input,
.myuser__content-address-des-select1 {
  font-size: 1.6rem;
  margin-left: 16px;
  padding: 4px 0;
}
.myuser__content-fullname-input,
.myuser__content-address-input,
.myuser__content-address-des-select1,
.myuser__content-date {
  padding: 4px 8px;
}
.myuser__content-sex-input-label {
  font-size: 1.6rem;
  margin-left: 6px;
  margin-right: 12px;
}
.myuser__content-fullname-wrap {
}
.myuser__content-fullname-input {
}
.myuser__content-email-wrap {
}
.myuser__content-email-input {
}
.myuser__content-setting {
  font-size: 1.6rem;
  margin-left: 12px;
  color: blue;
  text-decoration: solid;
  font-weight: 300;
}
.myuser__content-phone-wrap {
}
.myuser__content-phone-input {
}
.myuser__content-setting {
}
.myuser__content-sex-wrap {
}
.myuser__content-sex-input {
}
.myuser__content-date-wrap {
}
.myuser__content-date {
}
.myuser__content-address-wrap {
}
.myuser__content-address-input {
}
.myuser__content-address-des-wrap {
}
.myuser__content-address-des-select1 {
}
.myuser__content-address-des-option {
}
