.ordered__success {
  text-align: center;
}
.ordered__success-icon-wrap {
}
.ordered__success-icon {
  font-size: 8rem;
  color: #57d17c;
  z-index: 100;
  margin: 32px 0 12px;
}
.ordered__success-titile {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 500;
}
.ordered__success-id {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #555;
}
.ordered__success-table {
  margin-top: 26px;
}
.ordered__success-table-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  line-height: 2rem;
  background-color: #f4f5f7;
  border: 1px solid #000;
  font-weight: 500;
}
.ordered__success-table-title-time {
  padding: 10px 30px;
}
.ordered__success-table-title-name {
  padding: 10px 120px;
}
.ordered__success-table-title-quantity {
  padding: 10px 30px;
}
.ordered__success-table-title-price {
  padding: 10px 30px;
}
