.ordered__success {
  text-align: center;
}
.ordered__success-icon-wrap {
}
.ordered__success-icon {
  font-size: 8rem;
  color: #4ebd6f;
  box-shadow: 0 0 0 5px 4ebd6f;
}
.ordered__success-titile {
}
.ordered__success-id {
}
.ordered__success-icon.fas.fa-check-circle {
}
