.ordered__success {
  text-align: center;
}
.ordered__success-icon-wrap {
}
.ordered__success-icon {
  font-size: 8rem;
  color: #57d17c;
  z-index: 100;
}
.ordered__success-titile {
  font-size: 2.4rem;
  line-height: 3rem;
}
.ordered__success-id {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
