.ordered__success {
  text-align: center;
}
.ordered__success-icon-wrap {
  background-color: aqua;
  display: inline-block;
}
.ordered__success-icon {
  font-size: 8rem;
  color: #4ebd6f;
}
.ordered__success-titile {
}
.ordered__success-id {
}
.ordered__success-icon.fas.fa-check-circle {
}
