.ordered__success {
  text-align: center;
}
.ordered__success-icon-wrap {
  display: inline-block;
  background-color: #070707;
}
.ordered__success-icon {
  font-size: 8rem;
  color: #4ebd6f;
  z-index: 100;
}
.ordered__success-titile {
}
.ordered__success-id {
}
.ordered__success-icon.fas.fa-check-circle {
}
