.ordered__success {
  text-align: center;
}
.ordered__success-icon-wrap {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 100rem;
  box-shadow: 0 0 0 10px #000;
}
.ordered__success-icon {
  font-size: 8rem;
  color: #57d17c;
  z-index: 100;
}
.ordered__success-titile {
}
.ordered__success-id {
}
.ordered__success-icon.fas.fa-check-circle {
}
